.searchBox {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #e7e7e7;
    position: fixed;
    top: 0%;
    left: 0;
  }
  
  .searchBox > input[type="text"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax 2vmax;
    width: 50%;
    border-top-left-radius:6px ;
    border-bottom-left-radius:6px ;
    outline: none;
    
    font: 300 1.1vmax cursive;
    box-sizing: border-box;
    height: 7%;
  }
  
  .searchBox > input[type="submit"] {
    height: 7%;
    border-radius: 0%;
    background-color: purple;
    border: none;
    padding: 1vmax;
    border-top-right-radius:6px ;
    border-bottom-right-radius:6px ;
    width: 10%;
    font: 300 1.1vmax "Roboto";
    cursor: pointer;
    color: white;
    transition: all 0.5s;
  }
  
  .searchBox > input[type="submit"]:hover {
    background-color: rgb(55, 97, 214);
  }
  
  @media screen and (max-width: 600px) {
    .searchBox > input[type="text"] {
      width: 100%;
      font: 300 4vw cursive;
      height: 10%;
    }
  
    .searchBox > input[type="submit"] {
      height: 10%;
      width: 30%;
      font: 300 4vw "Roboto";
    }
  }